{% block content %}
{% if not list %}
DESC
{% for m in merch %}
<h2> {{ m.name }} </h2>
<ul>
    <li><p> Wear type: {{ m.get_wear_type_display }} </p></li>
    <li><p> Design: {{ m.get_design_display }} </p></li>
    <li><p> Desc: {{ m.description }} </p></li>
</ul>

{% if owned %}
<a href="{% url 'merch:remove_merch' user.pk m.pk %}">Unlink</a>
{% else %}
<a href="{% url 'merch:add_merch' user.pk m.pk %}">Buy!</a>
{% endif %}
{% endfor %}

{% else %}
LIST
<ul>
{% for m in merch %}
<li><a href='{{ m.pk }}/'> {{ m.name }} </a></li>
{% endfor %}
</ul>
{% endif %}

{% url 'social:homepage' as homeurl %}
<a href="{{ homeurl }}">Home</a>
{% endblock %}
