{% block title %}
{% if not home %}
  {{ user.username }}'s Profile
{% else %}
  {{ user.username}}'s Homepage
{% endif %}
{% endblock %}

{% block content %}
<h2>{{ user.username }}</h2>
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Full Name: {{ user.first_name }} {{user.last_name}}</li>
  <li>Bio: {{ user.profile.bio }}</li>
  <li>Birth Date: {{ user.profile.date_birth }}</li>
</ul>

<h2>Following: {{ n_following }}</h2>
<ul>
{% for u in following %}
  <li><a href="/profile/{{ u.pk }}/">{{ u.username }}</a><span> - {{ u.profile.bio }}</span></li>
{% endfor %}
</ul>
<br>
<h2>Followers: {{ n_followers }}</h2>
<ul>
{% for u in followers %}
  <li><a href="/profile/{{ u.pk }}/">{{ u.username }}</a><span> - {{ u.profile.bio }}</span></li>
{% endfor %}
</ul>
<br>
<h2>Merch: {{ n_merch }}</h2>
<ul>
{% for m in merch %}
<li><a href='{{ m.merch.wear_type }}/{{ m.merch.id }}/'> {{ m.merch.name }} </a></li>
{% endfor %}
</ul>
{% if not home %}
{%  url 'homepage' as  homeurl %}
<a href="{{ homeurl }}">Home</a>
{% endif %}

{% url 'logout' as logouturl %}
<a href="{{ logouturl }}">Logout</a>
{% endblock %}
